<html>
	<body>
		<h2>"{{themeTitle}}" by {{authorLabel}}</h2>
		<p><img src="{{themeImage}}" /></p>
		<table>
			<tr>
				<th style="text-align:left;width:">HEX</th>
				<th style="width:0.8em"></th>
				<th style="text-align:left;">RGB</th>
			</tr>
			{{swatchHTML}}
		</table>
		<p><a href="http://kuler.adobe.com/#themeID/{{themeID}}">theme detail</a>&nbsp;|&nbsp;<a href="http://kuler.adobe.com/#themes/search?term=userId%3A{{authorID}}">other themes by this author</a></p>
		<p style="font-size:0.8em;">brought to you by <a href="http://www.itunes.com/app/saturation">&lt;saturation&gt;</a></p>
	</body>
</html>